@import "variables";
// @import "mixins";
@import "normalize";
// @import "layout";

// /* Components */
// @import "components/form_field";

// /* Sections */
// @import "section/registration_form";

// /* Pages / Views */
// @import "pages/registration";

/* GLOBAL*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #e3e3e3;
    color: $main-text-color;
}

// section {
//     display: flex;
// }

.icon {
    width: 20px;
    height: 18px;
    padding: auto;
    align-items: center;
    margin: 0 8px;
}


.arrow-down {
    padding: 0;
    width: 13px;
    height: 13px;
}

.rounded {
    border: solid 1px $brand-border-color;
    border-radius: 50%;
}
/*SECTION TOP BAR*/
.bar {
    position: fixed;
}

.top {
    width: 100%;
    background: #ffffff;
    // height: 50px;
    // display: block;
    // text-align: center;
    // position: absolute;
}

.top-bar-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    // border: solid 2px red;
    flex-direction: row;
    margin: 0px;
    align-items: center;
}

.com--top-bar-item {
    border-left: solid 1px $brand-border-color;
    text-align: center;
    position: relative;
    font-size: 24px;
    padding: 12px;
}

.btn:hover {
 background-color: red;
}
/*SECTION SIDE BAR*/
.side {
    height: 100%;
    background-color: black;
}

.side-bar-wrapper {
    width: 250px;
    margin: 0;
    color: white;
    text-align: left;
}