@import "variables";
// @import "mixins";
@import "normalize";
// @import "layout";

// /* Components */
// @import "components/form_field";

/* Sections */
@import "sections/earning-chart";

// /* Pages / Views */
// @import "pages/registration";

/* GLOBAL*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

h1 {
    font-size: 16px;
}

h2 {
    font-size: 14px;
    margin: 20px 15px;
    padding: 10px;
    // border: solid 2px green;
}
body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f2;
    color: $main-text-color;
    font-family: $brand-font;
}

.wrapper-all {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.icon {
    width: 20px;
    height: 18px;
    // padding: 12px 0 0 0;
    align-items: center;
    margin: 0 10px;
    // border: solid 1px rgb(255, 0, 212);
}

.arrow-down {
    padding: 0;
    width: 13px;
    height: 13px;
}

.rounded {
    border: solid 1px $brand-border-color;
    border-radius: 50%;
}

/*ICONS EDITION*/

.component-link svg {
    // border: solid 2px white;
    fill: $main-text-color;
    margin-right: 15px;
    height: 22px;
    width: 22px;
}
/*SECTION TOP BAR*/
.topbar {
    position: fixed;
}

.topbar {
    width: 100%;
    height: 60px;
    background: #ffffff;
    z-index: 20;
}

.top-bar-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    // border: solid 2px red;
    flex-direction: row;
    margin: 0px;
    align-items: center;
    height: 100%;
    border-bottom: solid 1px $brand-border-color;
}

.com--top-bar-item {
    display: flex;
    border-left: solid 1px $brand-border-color;
    text-align: center;
    position: relative;
    padding: 20px 10px;
    font-size: 18px;
    height: 100%;
    align-items: center;
    // border: solid 2px red;
}

.text {
    color: #4b5bee;
    font-size: 14px;
}
.btn:hover {
    background-color: #e3e3e3;
}
/*SECTION SIDE BAR*/
section .sidebar {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
    z-index: 30;
}

.side-bar-wrapper {
    display: flex;
    flex-direction: column;
    width: 188px;
    margin: 0;
    padding-bottom: 30px;
    color: white;
    text-align: left;
    border-bottom: solid 1px $brand-border-color;
}

// .wrapper-title {
//     // border: solid 2px yellow;
// }

.wrapper-title h1 {
    // display: flex;
    // flex-direction: row;
    width: 115px;
    height: 62px;
    text-align: center;
    font-size: 30px;
    margin: 20px 0 12px 10px;
    // border: solid 2px red;
    font-family: "Satisfy", cursive;
}

.hamburger {
    z-index: 1;
    position: absolute;
    height: 35px;
    width: 35px;
    top: 15px;
    left: 140px;
    // border: solid 1px green;
}
.hamburger img {
    width: 100%;
    height: 100%;
    // border: solid 1px red;
}
.component-link {
    display: flex;
    width: 100%;
    padding: 13px;
    color: $main-text-color;
    text-decoration: none;
    align-items: center;
}

.component-link p {
    margin: 0;
}
.component-link:hover {
    background-color: $main-text-color;
    color: white;
    #Layer_2 {
        fill: white;
    }
}
.person {
    display: flex;
    flex-direction: row;
    p {
        margin-left: 10px;
        color: rgb(30, 124, 233);
    }
}
.person img {
    height: 55px;
    width: 55px;
    // border: solid 2px green;
    margin: 0 0 20px 20px ;
}
/*MAIN CONTENT*/

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: relative;
    height: 1000px;
    margin: 0 18px 18px 202px;
    top: 85px;
    z-index: 10;
    // justify-content: center;
    // border: solid 2px red;
}

// .main-content > div {
//     // margin-top: 30px;
//     // margin-bottom: 30px;
//     // border: solid 2px red;
// }

.main-content .title-content {
    padding: 5px 0 0 8px;
    margin-top: 0;
    width: 100%;
    height: 50px;
    border-bottom: solid 2px $brand-border-color;
    //    border: solid 2px red;
}

.date-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border: solid 1px $brand-border-color;
    padding: 6px;
    .icon {
        width: 20px;
        height: 18px;
        // padding: 12px 0 0 0;
        align-items: center;
        justify-content: center;
        // margin: 0 10px 0 0;
        // border: solid 2px green;
    }
}
.date-table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 70%;
    border-bottom: solid 2px $brand-border-color;
    padding: 35px 0;
}

input[name="daterange-two"] {
    padding-right: 5px;
    border: none;
}

input[name="daterange"] {
    border: none;
    border-right: solid 1px $brand-border-color;
}

input {
    margin: 5px 13px;
    width: 150px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    color: white;
    text-decoration: none;
}
.button svg {
    fill: white;
}

.arrow {
    // border-radius: 3px;
    // width: 43px;
    height: 43px;
    margin-left: 15px;
    background-color: $button-color;
}
.add {
    text-align: center;
    // align-items: center;
    // justify-content: center;
    height: 40px;
    width: 130px;
    margin-top: 25px;
    background-color: $button-color;
    // border: solid 1px red;
}
.button:hover {
    background-color: $button-color-hover;
}
.button .arrow .icon {
    width: 20px;
    height: 20px;
    margin: auto;
    padding: auto;
}

.link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    // border: solid 1px red;
}
section .scroll-wrapper {
    // border: solid 1px yellowgreen;
    margin-top: 20px;
    // width: 100%;
}

table {
    padding: 0;
    margin: 0;
    width: 100%;
    border-collapse: collapse;
    .link {
        text-decoration: none;
        color: rgb(39, 141, 209);
    }
    .link-icon,
    .trash-icon {
        height: 100%;
        width: 48px;
        margin: 0 20px;
        text-align: center;
        // border: solid 1px red;
        a {
            // border: solid 1px rgb(17, 127, 201);
            width: 100%;
            display: none;
        }
        // .link-icon {
        //     margin: auto;
        //     border: solid 1px rgb(223, 28, 223);
        // }
        svg {
            // border: solid 1px green;
            width: 15px;
            height: 20px;
        }
    }
}

table td {
    border-top: solid 1px $brand-border-color;
    width: auto;
    height: 60px;
}

.table tr:hover {
    opacity: 0.9;
    background-color: $brand-border-color;
    a {
        display: block;
        fill: $main-text-color;
    }
    .link-icon svg {
        fill: rgb(231, 125, 3);
    }
}

.wrapper-chart {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    // border: solid 1px red;
    align-items: center;
    width: 70%;
    margin: 40px;
}

.one-chart {
    width: 100%;
    // border: solid 1px green;
    margin: 10px 60px;
    padding: 10px;
    border-bottom: solid 1px $brand-border-color;
    display: flex;
    flex-flow: row;
    flex: 0 0 33.333%;
    justify-content: space-between;
}

.earning-data {
    font-weight: 600;
}

.earning-number {
    margin: auto 0;
    color: black;
    font-size: 18px;
    padding-left: 25px;
    // border: solid 1px red;
}

.scroll-wrapper {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.scroll-wrapper table {
    width: 100%;
    max-width: 100%;
}
.sidebar-wrapper-all .hidden {
    display: none;
}
.topbar-in {
    display: flex;
    flex-flow: column wrap;
    background-color: white;
    border: solid 1px black;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    .top-bar-item {
        // height: 50px;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        margin: auto;
        border-bottom: solid 1px $brand-border-color;
    }
    a {
        margin: 0;
        padding-top: 10px;
        width: 100%;
        // border: solid 1px red;
        text-align: center;
        height: 45px;
        border-bottom: solid 1px $brand-border-color;
        img {
            width: 20px;
            height: 25px;
        }
    }
    .login-name {
        display: flex;
        width: 100%;
        padding: 5px 0;
        // margin: 10px 0;
        // border: solid 1px green;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-bottom: solid 1px $brand-border-color;
        p {
            // border: solid 1px red;
            font-size: 14px;
            color: #4b5bee;
        }
        .icon {
            margin-right: 10px;
            padding: auto;
            border: solid 1px black;
        }
    }
}
/*MEDIA QUERIES*/
@media screen and (max-width: 768px) {
    .main-content {
        margin: auto;
    }
    .date-wrapper {
        flex-direction: column;
    }

    .arrow {
        margin-top: 14px;
        margin-left: 0;
    }

    input[type="text"] {
        border: none;
        text-align: center;
        width: 100px;
    }
    .hamburger {
        position: absolute;
        height: 35px;
        width: 35px;
        top: 15px;
        left: 0px;
        border-radius: 3%;
        transition: all 0.3 ease;
    }
    .show {
        display: none;
    }

    .sidebar-wrapper-all .hidden {
        display: flex;
    }

    .shifted {
        position: absolute;
        height: 35px;
        width: 35px;
        top: 15px;
        left: 140px;
    }
}
